---
layout: default
permalink: /rule-library/
---
<link rel="stylesheet" href="/assets/styles.css">
<div class="heading">
<h1>Rule Library</h1>
</div>
<br>
<div class="flex-row">
  <div class="dropdown-container">
  <span> Display rules with </span>
  <select id="metadataSelect">
      <option value="">--Select Metadata Field--</option>
      <option value="namespace">Namespace</option>
      <option value="scope">Scope</option>
      <option value="author">Authors</option>
      <option value="mbc">MBC</option>
      <option value="attck">ATT&CK</option>
  </select>

  <span> under </span>
  <select id="namespaceValues" class="metadata-values">
      <option value="">--Select Namespace--</option>
      <option value="anti-analysis">anti-analysis</option>
      <option value="host-interaction">host-interaction</option>
      <option value="executable">executable</option>
      <option value="load-code">load-code</option>
      <option value="linking">linking</option>
      <option value="collection">collection</option>
      <option value="persistence">persistence</option>
      <option value="communication">communication</option>
      <option value="data-manipulation">data-manipulation</option>
      <option value="compiler">compiler</option>
      <option value="runtime">runtime</option>
      <option value="impact">impact</option>
      <option value="targeting">targeting</option>
      <option value="internal">internal</option>
      <option value="malware-family">malware-family</option>
  </select>

  <select id="scopeValues" class="metadata-values">
      <option value="">--Select Scope--</option>
      <option value="function">function</option>
      <option value="basic block">basic block</option>
      <option value="file">file</option>
      <option value="instruction">instruction</option>
  </select>

  <select id="authorValues" class="metadata-values">
      <option value="">--Select Author--</option>
      <option value="awillia2@cisco.com">awillia2@cisco.com</option>
      <option value="moritz.raabe@mandiant.com">moritz.raabe@mandiant.com</option>
      <option value="anushka.virgaonkar@mandiant.com">anushka.virgaonkar@mandiant.com</option>
      <option value="@mr-tz">@mr-tz</option>
      <option value="michael.hunhoff@mandiant.com">michael.hunhoff@mandiant.com</option>
      <option value="william.ballenthin@mandiant.com">william.ballenthin@mandiant.com</option>
      <option value="jakub.jozwiak@mandiant.com">jakub.jozwiak@mandiant.com</option>
      <option value="0x534a@mailbox.org">0x534a@mailbox.org</option>
      <option value="blaine.stancill@mandiant.com">blaine.stancill@mandiant.com</option>
      <option value="richard.cole@mandiant.com">richard.cole@mandiant.com</option>
      <option value="anamaria.martinezgom@mandiant.com">anamaria.martinezgom@mandiant.com</option>
      <option value="david.cannings@pwc.com">david.cannings@pwc.com</option>
      <option value="david@edeca.net">david@edeca.net</option>
      <option value="@_re_fox">@_re_fox</option>
      <option value="joakim@intezeer.com">joakim@intezeer.com</option>
      <option value="joakim@intezer.com">joakim@intezer.com</option>
      <option value="@johnk3r">@johnk3r</option>
      <option value="johnk3r">johnk3r</option>
      <option value="echernofsky@google.com">echernofsky@google.com</option>
      <option value="jonathanlepore@google.com">jonathanlepore@google.com</option>
      <option value="BitsOfBinary">BitsOfBinary</option>
      <option value="richard.weiss@mandiant.com">richard.weiss@mandiant.com</option>
      <option value="matthew.williams@mandiant.com">matthew.williams@mandiant.com</option>
      <option value="@williballenthin">@williballenthin</option>
      <option value="@stvemillertime">@stvemillertime</option>
      <option value="@itreallynick">@itreallynick</option>
      <option value="blas.kojusner@mandiant.com">blas.kojusner@mandiant.com</option>
      <option value="dan.kelly@mandiant.com">dan.kelly@mandiant.com</option>
      <option value="chuong.dong@mandiant.com">chuong.dong@mandiant.com</option>
      <option value="@ramen0x3f">@ramen0x3f</option>
      <option value="gilbert.elliot@mandiant.com">gilbert.elliot@mandiant.com</option>
      <option value="@r3c0nst (Frank Boldewin)">@r3c0nst (Frank Boldewin)</option>
      <option value="cdong49@gatech.edu">cdong49@gatech.edu</option>
      <option value="raymond.leong@mandiant.com">raymond.leong@mandiant.com</option>
      <option value="anders.vejlby@mandiant.com">anders.vejlby@mandiant.com</option>
      <option value="Ivan Kwiatkowski (@JusticeRage)">Ivan Kwiatkowski (@JusticeRage)</option>
      <option value="dimiter.andonov@mandiant.com">dimiter.andonov@mandiant.com</option>
      <option value="zander.work@mandiant.com">zander.work@mandiant.com</option>
      <option value="@Ana06">@Ana06</option>
      <option value="Ana06">Ana06</option>
      <option value="aseel.kayal@mandiant.com">aseel.kayal@mandiant.com</option>
      <option value="ronnie.salomonsen@mandiant.com">ronnie.salomonsen@mandiant.com</option>
      <option value="ervin.ocampo@mandiant.com">ervin.ocampo@mandiant.com</option>
      <option value="@kulinacs">@kulinacs</option>
      <option value="moritz.raabe">moritz.raabe</option>
      <option value="still@teamt5.org">still@teamt5.org</option>
      <option value="huynh.t.nhan@gmail.com">huynh.t.nhan@gmail.com</option>
      <option value="jonathan.lepore@mandiant.com">jonathan.lepore@mandiant.com</option>
      <option value="john.gorman@mandiant.com">john.gorman@mandiant.com</option>
      <option value="jared.wilson@mandiant.com">jared.wilson@mandiant.com</option>
      <option value="nick.simonian@mandiant.com">nick.simonian@mandiant.com</option>
      <option value="markus.neis@swisscom.com / @markus_neis">markus.neis@swisscom.com / @markus_neis</option>
      <option value="sara-rn">sara-rn</option>
      <option value="joren485">joren485</option>
      <option value="anushka.virgaonakr@mandiant.com">anushka.virgaonakr@mandiant.com</option>
  </select>

  <select id="mbcValues" class="metadata-values">
      <option value="">--Select MBC--</option>
      <option value="Defense Evasion">Defense Evasion</option>
      <option value="Execution">Execution</option>
      <option value="Discovery">Discovery</option>
      <option value="Communication">Communication</option>
      <option value="Memory">Memory</option>
      <option value="Process">Process</option>
      <option value="Cryptography">Cryptography</option>
      <option value="Data">Data</option>
      <option value="Collection">Collection</option>
      <option value="File System">File System</option>
      <option value="Operating System">Operating System</option>
      <option value="Anti-Behavioral Analysis">Anti-Behavioral Analysis</option>
      <option value="Anti-Static Analysis">Anti-Static Analysis</option>
      <option value="Impact">Impact</option>
      <option value="Command and Control">Command and Control</option>
      <option value="Hardware">Hardware</option>
  </select>

  <select id="attckValues" class="metadata-values">
      <option value="">--Select ATT&CK--</option>
      <option value="Execution">Execution</option>
      <option value="Discovery">Discovery</option>
      <option value="Defense Evasion">Defense Evasion</option>
      <option value="Credential Access">Credential Access</option>
      <option value="Privilege Escalation">Privilege Escalation</option>
      <option value="Persistence">Persistence</option>
      <option value="Collection">Collection</option>
      <option value="Impact">Impact</option>
      <option value="Command and Control">Command and Control</option>
  </select>
  <button id="searchButton">Search</button>
</div>
<div class="search-container">
<div id="search"></div></div></div>
<br>
<div class="rule-grid" id="rule-grid">
  {% for rule_file in site.data.rules %}
    {% assign rule = rule_file[1].rule %}
    <div class="rule-card" data-namespace="{{ rule.meta.namespace }}" data-scope="{{ rule.meta.scope }}" data-mbc="{{ rule.meta.mbc | join: ','}}" data-attck="{{ rule.meta['att&ck'] | join: ',' }}">
      <h3><a href="/{{ rule.meta.name | replace: ' ', '-' | downcase | url_encode }}/">{{ rule.meta.name }}</a></h3>


      <p>{{ rule.meta.namespace }}</p>
      <p>Authors: <span class="card-author">{{ rule.meta.authors | join: ", " }}</span></p>
    </div>
    {% assign index_mod = forloop.index0 | modulo: 4 %}
    {% if forloop.index0 != 0 and index_mod == 3 %}
    {% endif %}
  {% endfor %}
  {% if index_mod != 3 %}
    </div>
  {% endif %}
  <script src="/rules_in_html/pagefind/pagefind-ui.js" type="text/javascript"></script>
  <script>
    window.addEventListener('DOMContentLoaded', (event) => {
      new PagefindUI({ element: "#search" });
    });
  </script>
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/assets/js/main.js"></script>