---
layout: default
---
<link rel="stylesheet" href="/assets/styles.css">

<h1>Rules</h1>
<p>Display rules under Namespace:</p>
<select id="namespaceSelect">
  <option value="">--Select Namespace--</option>
  <option value="anti-analysis">anti-analysis</option>
  <option value="host-interaction">host-interaction</option>
  <option value="executable">executable</option>
  <option value="load-code">load-code</option>
  <option value="linking">linking</option>
  <option value="collection">collection</option>
  <option value="persistence">persistence</option>
  <option value="communication">communication</option>
  <option value="data-manipulation">data-manipulation</option>
  <option value="compiler">compiler</option>
  <option value="runtime">runtime</option>
  <option value="impact">impact</option>
  <option value="targeting">targeting</option>
  <option value="internal">internal</option>
  <option value="malware-family">malware-family</option>
</select>

<button id="searchButton">Search</button>

<div class="rule-grid" id="rule-grid">
  {% for rule_file in site.data.rules %}
    {% assign rule = rule_file[1].rule %}
    <div class="rule-card" data-namespace="{{ rule.meta.namespace }}">
      <h3><a href="rule-detail.html?rule={{ rule_file[0] }}">{{ rule.meta.name }}</a></h3>
      <p>{{ rule.meta.namespace }}</p>
      <p>Authors: {{ rule.meta.authors | join: ", " }}</p>
      <!-- Add more rule data as needed -->
    </div>
    {% assign index_mod = forloop.index0 | modulo: 4 %}
    {% if forloop.index0 != 0 and index_mod == 3 %}
    {% endif %}
  {% endfor %}
  {% if index_mod != 3 %}
    </div>
  {% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/assets/js/main.js"></script>