---
layout: default
permalink: /rule-library/
---

<link rel="stylesheet" href="/assets/styles.css">
<link rel="stylesheet" href="/rules_in_html/pagefind//pagefind-ui.css">
<link rel="stylesheet" href="/rules_in_html/pagefind/pagefind-modular-ui.css">

<div class="heading">
<h1>Rule Library</h1>
</div>
<br>
<div class="flex-row">
<div class="search-container">
<div id="search"></div></div></div>
<br>
<div class="rule-grid" id="rule-grid">
  {% for rule_file in site.data.rules %}
    {% assign rule = rule_file[1].rule %}
    <div class="rule-card" data-namespace="{{ rule.meta.namespace }}" data-scope="{{ rule.meta.scope }}" data-mbc="{{ rule.meta.mbc | join: ','}}" data-attck="{{ rule.meta['att&ck'] | join: ',' }}">
      <h3><a href="/{{ rule.meta.name | replace: ' ', '-' | downcase | url_encode }}/">{{ rule.meta.name }}</a></h3>


      <p>{{ rule.meta.namespace }}</p>
      <p>Authors: <span class="card-author">{{ rule.meta.authors | join: ", " }}</span></p>
    </div>
    {% assign index_mod = forloop.index0 | modulo: 4 %}
    {% if forloop.index0 != 0 and index_mod == 3 %}
    {% endif %}
  {% endfor %}
  {% if index_mod != 3 %}
    </div>
  {% endif %}
  <script src="/rules_in_html/pagefind/pagefind-ui.js" type="text/javascript"></script>
  <script>
    window.addEventListener('DOMContentLoaded', (event) => {
      new PagefindUI({ element: "#search" });
    });
  </script>
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/assets/js/main.js"></script>

