<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="assets\styles.css">
  <link rel="icon" type="image/png" href="assets\img\favicon.png">
</head>
<body>
  <header>
    <nav class="navbar bg-body-tertiary">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="assets\img\logo.png" alt="CAPA" width="170" height="60">
        </a>
      </div>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
  </footer>
</body>
</html>
